body {
	display: table;
	margin: auto;
}

.contenedor {
	width: 535px; 
	height: 476px;
}

.box {
	float: left;
}

h2, h3 {
	text-align: center;
}

.texto {
	padding: 0px 20px 0px 20px;
}

.texto-centro {
	padding: 30px 50px 30px 50px;
}

.titulo {
	text-align: center;
	font-size: 20px;
	width: 535px;
	height: 30px;
	background-color: #F9C300;
	border: 1px solid black;
	text-align: center;
}

.antes {
	text-align: justify;
	font-size: 14px;
	width: 146px;
	height: 423px;
	background-color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.monopoly {
	text-align: justify;
	font-size: 14px;
	width: 241px;
	height: 423px;
	background-color: white;
	border-right: 1px solid black; 
}

.despues {
	text-align: justify;
	font-size: 14px;
	width: 146px;
	height: 423px;
	background-color: white;
	border-right: 1px solid black;
}

.abajo {
	text-align: center;
	width: 535px;
	height: 22px;
	background-color: #F9C300;
	clear: left;
	border: 1px solid black;
	font-weight: bold;
}

img {
	max-width: 100%
}

h1, hr {
	font-family: "Roboto Slab", serif;
	color: #6E6E74;
	margin-left: 20px;
	margin-right: 20px;
}

footer {
	color: #6E6E74;
	text-align: right;
}

a:link {
	text-decoration: none;
	color: #5E5E63;
}

a:hover {
	color: black;
	font-style: italic;
}

a:visited {
	color: black;
}